/* CSS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
    color: #333;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 36px;
    }

    #profile {
        max-width: 300px;
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    body {
        margin: 36px 25%;
    }

    #profile {
        max-width: 300px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#biography {
    margin-bottom: 1.5em;
    max-width: 400px;

    ul {
        display: inline-block;
    }

    li {
        float: left;
    }

    li:not(:first-child) {
        margin-left: 8px;
    }
}

#profile {
    width: 100%;
}

#photos img {
    width: 100%;
}

#yi-yi {
    width: 100%;
}

hr {
    width: 30px;
}

a {
    transition: color 500ms;
}

#home-link {
    color: #d7d7d7;
    transition: color 500ms;
}

#home-link:hover {
    color: #757575;
}

#last-updated {
    color: #adadad;
    font-size: 0.8rem;
}